<div>
  <div><u></u>
    <div>
      <table width="100%">
        <tbody>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" background="">
                <tbody>
                  <tr>
                    <td width="100%" align="center"><a href="http://mcmiddleearth.com" target="_blank"> <img src="http://mcme.co/img/mcme.png"  width="356" height="110" border="0"></a></td>
                  </tr>
                </tbody>
                <tr>
                  <td width="100%" align="left"><div>Greetings Minecraft Middle-Earth Applicant, </div>
                    <br/>
                    <div>The Minecraft Middle-Earth Admissions Staff are pleased to inform you that your application to join the Minecraft Middle-Earth 	
                      Project's whitelist has been accepted! Thank you for showing interest in our mission to re-create Middle-Earth in Minecraft. 
                      A mission that you can now help bring to life. We look forward to seeing you online soon! </div>
                    <br/>
                    <div>The server IP address is: arda.mcme.co </div>
                    <br/>
                    <div>Minecraft Middle-Earth has three texture packs custom-made for this server. In some areas these texture packs are absolutely 
                      necessary since we have changed many blocks to represent something completely different in the pack 
                      (Download them all from this link: <a href='http://mcme.co/texturepacks'>http://mcme.co/texturepacks</a>). </div>
                    <br/>
                    <div>
                    Before joining the server for the first time, it is higly recomended that you read the <a href='http://www.mcmiddleearth.com/faq/'>FAQ</a>, <a href='http://www.mcmiddleearth.com/rules/'>Server Rules</a>, <a href='http://www.mcmiddleearth.com/terms-of-service/'>Terms of Service</a>, and <a href='http://www.mcmiddleearth.com/ranks-duties/'>Rank List</a> once more.
                    </div>
                    <br/>
                    <div>We use a free voice communication program called Teamspeak for communication and running of on-server jobs (You don't need to own
                      a microphone to join us on the Teamspeak server). </div>
                    <br/>
                    <div>The Teamspeak server IP address is: aman.mcme.co and the password is obtainable by logging onto the Minecraft server and asking 
                      in the chat. </div>
                    <br/>
                    <div>
                      <list>
                        <li> Note: Please use your Minecraft username on Teamspeak as well as on the forums if you have not done so already.</li>
                        <li> You can download Teamspeak by going to: http://www.teamspeak.com/?page=downloads</li>
                      </list>
                    </div>
                    <br/>
                    <div>If you need any further assistance, post a topic on the forum help board - <a href='http://mcmiddleearth.com/forums/viewforum.php?f=51'>http://mcmiddleearth.com/forums/viewforum.php?f=51</a> </div>
                    <br/>
                    <div>The Minecraft version MCME is running can be found on the main site.</div>
                    <br/>
                    <div>If you aren't whitelisted after receiving this e-mail within three days, please make a post in this thread - <a href='http://mcmiddleearth.com/forums/viewtopic.php?t=128'>http://mcmiddleearth.com/forums/viewtopic.php?t=128</a> - with your in-game name and the date you applied. </div>
                    <br/>
                    <div>Sincerely,</div>
                    <div>Minecraft Middle-Earth Admissions Staff </div>
                    <div>Note: This is an automated message, please do not reply to this email.</div></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
